@model MvcPL.Models.Tag.TagViewModel

@{
    ViewBag.Title = "Delete";
}

@Styles.Render("~/Content/delete_post.css")

<div class="create-post-form">

    <h3>Do you really want to delete this tag?</h3>

    <div class="form-group">
        <span>#@Model.Name</span>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Yes">
            @Html.ActionLink("No", "Index", new { @class = "back-button" })
        }
    </div>

</div>

