@{
    ViewBag.Title = "400. Bad Request";
}

@Styles.Render("~/Content/Fontawesome/css/font-awesome.css")
@Styles.Render("~/Content/error.css")

<div class="not-found-wrapper">
    <h4>400. Bad Request</h4>

    <div>
        <h5><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! The webpage cannot be found.</h5>

        <p>Most likely causes:</p>

        <ol>
            <li>
                There might be a typing error in the address.
            </li>
            <li>
                If you clicked on a link it may be out of date.
            </li>
        </ol>
    </div>
</div>

