@{
    ViewBag.Title = "404. Not found";
}

@Styles.Render("~/Content/Fontawesome/css/font-awesome.css")
@Styles.Render("~/Content/error.css")

<div class="not-found-wrapper">
    <h4>404. Not Found</h4>

    <div>
        <h5><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! The webpage cannot be found.</h5>

        <p>A few things that might help:</p>

        <ol>
            <li>
                Try checking the URL for errors, then hit the refresh button on your browser.
            </li>
            <li>
                Please use the links in the sidebar to find your way back to the real content! Thank you!
            </li>
            <li>
                Really, really want to see something in my Blog?
                <a class="alert-link" href="mailto:i.valchenk@hotmail.com">Drop me an email</a> to commission what do you you need!
            </li>
        </ol>
    </div>
</div>

