h4 {
	font-size: 1.1em;
	margin-top: 1em;
}

.form-group {
	padding-left: 1.5%;
}

form-group a {
    text-decoration: none;
	font-size: 0.9em;
	border: none;
	background: #0084b4;
	color: #fff;
	padding: 4px 21px;
	margin-top: 1.5%;
}

form-group a:hover {
    background: #55acee;
}

input {
	border: none;
	padding: 0.4em 7em 0.4em 1em;
	background-color: #d9d9d9;
	border-left: 1em solid #55acee;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

input[type="submit"]  
{
	border: none;
	background: #0084b4;
	color: #fff;
	display: block;
	padding: 4px 10px;
	margin-top: 1.5%;
    display: inline-block;
    font-size: 1em;
}

input[type="submit"]:hover
{
	background: #55acee;
}

