.posts-not-found-by-tag {
    margin: 0.7em 0 0 0;
}

.posts-not-found-by-tag p {
    margin-left: -1em;
}

.posts-not-found-by-tag a {
    text-decoration: none;
	background: #0084b4;
	color: #fff;
	display: inline-block;
	padding: 4px 10px;
    margin-left: 1em;
}

.posts-not-found-by-tag a:hover {
	color: #fff;
	background: #55acee;
}

/* Отображение как в create post */

h4 {
	font-size: 1.2em;
	border-bottom: 0.15em solid #000000;
	width: 97%;
	margin: 0 auto;
	padding-bottom: 0.4em;
	margin-bottom: 0.5em;
}

.form-group {
	padding-left: 1.5%;
}

.active {
	color: #de3636;
}

