@model IEnumerable<MvcPL.Models.Tag.TagViewModel>
@{
    ViewBag.Title = "Tags";
}
@Styles.Render("~/Content/tag_home.css")
<p class="tag-create-button">
    @Html.ActionLink("Add new tag", "Create")
</p>

<ol class="list-of-tags">
    @foreach (var item in Model)
    {
        <li>
            <span>#@Html.DisplayFor(modelItem => item.Name)</span>
            <ul>
                <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                <li class="delete-post-button">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
            </ul>
        </li>
    }
</ol>