@model MvcPL.Models.Tag.CreateTagViewModel

@{
    ViewBag.Title = "Tag create";
}

<h2>Create new tag</h2>

<div>

    @using (Html.BeginForm("Create", "Tag", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(m => Model.Name, new { @class = "control-label col-sm-3" })
                <div class="col-sm-5">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

        </div>
    }

</div>