/* Кнопка создать новый тег */

#content_container p a {
	color: #0084b4;
	text-decoration: underline;
}

#content_container p a:hover {
	color: #55acee;
}

/* Значок создания */

.tag-create-button a  {
	display: block;
	background: url(/Content/Images/Icon/create.png) no-repeat;
	background-size: 3.5%;
	padding: 0.5em 0 0.8em 2.8em;
	margin-left: -1em;
	margin-bottom: -1.5em;
}

.list-of-tags {
   margin: 1em 0 0 2em;
}

.list-of-tags li span {
   display: inline-block;
   width: 7em;
}

.list-of-tags ul {
    display: inline-block;
}

.list-of-tags ul li {
    display: inline-block;
    margin: 0 0 0.5em 0;
}

/* Кнопки Edit Delete */

.list-of-tags ul li a {
	text-decoration: none;
	background: #0084b4;
	color: #fff;
	display: block;
	padding: 3px 8px;
    margin: 1.5% 2% 0 0;
}

.list-of-tags ul li a:hover {
	color: #fff;
	background: #55acee;
}
